<div class="login">
    <div class="login-form">
        <form [formGroup]="form" (ngSubmit)="onLogin()">
            <div >
                <input class="form-control" formControlName="username" placeholder="Enter Email"/>
            </div>
            <div>
                <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
            </div>
            <div class="btn-block">
                <button [disabled]="false">Login</button>
            </div>
        </form>
        
            <p class="login-error">{{error}}</p>
        
    </div>
</div>
