<div class="login">
    <div class="login-form">
        <h2>Sign In</h2>
        <form [formGroup]="form" (ngSubmit)="onLogin()">
            <div >
                <input class="form-control" formControlName="username" placeholder="Enter Email"/>
            </div>
            <div>
                <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
            </div>
            <div class="btn-block">
                <button>Login</button>
            </div>
        </form>
        
            <p *ngIf="error" class="error-msg">Login or password is incorrect.</p>
        
    </div>
</div>
